body {
  margin: 20px 20px 20px 20px;
  line-height: 0;
}
div { 
  text-align: center; 
  align-self: center;
  width: 95%;
  padding: 10px 10px 10px 10px;
}
.form-control {
  opacity: 0.1;
  border: #FFF;
  color: #FFF;
}
.jumbotron {
  text-align: center;
  color: #FFF;
  background-image: url("../assets/backgrounds/h_img.jpg");
}
.about-us {
  text-align: center;
}
.services {
  text-align: center;
  color: #FFF;
  background-image: url("../assets/backgrounds/s_image.jpg");
}
.user-form {
  text-align: center;
  color: #FFF;
  background-image: url("../assets/backgrounds/c_image.jpg");
}
.overlay-card {
  position: absolute;
  top:50%;
  left: 50%;
  height: 93%;
  width: 100%;
  display: none;
  /* opacity: 0; */
  transition: 1s ease;
}
.ctr {
  position: absolute;
  transform: translate(-50%, -50%);
}
.overlay-text {
    height: 93%; 
  width: 93%;
  padding-bottom: 10px;
  display: none;
  
}
 /* .imghov:hover .overlay {
 /* opacity: 1; */
/* }